* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header .H1_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) {
  header .H1_button button {
    width: 100px;
  }
}

header h1 {
  text-align: center;
  font-size: 5vw;
  width: 100%;
  margin-top: 10px;
  color: #313131;
  text-transform: uppercase;
}

header button {
  padding: 10px;
  background: #313131;
  border-style: none;
  color: whitesmoke;
  width: 100px;
  margin-top: 10px;
  border-radius: 10px;
}

header button:hover {
  background: #0d80b6;
}

header .img_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

header .img_text .introduction {
  margin-top: 10px;
  border-bottom: 3px solid #313131;
  border-top: 3px solid #313131;
  border-radius: 10px;
}

header .img_text .introduction p {
  text-align: center;
  padding: 10px;
}

header .img_text .skillset {
  text-align: center;
  margin-top: 10px;
}

header .img_text .skillset li {
  list-style: none;
}

header .img_text img {
  max-width: 7vw;
  min-width: 100px;
  margin-top: 10px;
  border-radius: 50%;
}

header .img_text h1 {
  padding: 10px;
}

@media screen and (min-width: 900px) {
  header .img_text h1 {
    font-size: 35px;
  }
  header .img_text .welcome h1 {
    font-size: 30px;
  }
}

.comonClass {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.comonClass a {
  text-decoration: none;
  width: 80%;
}

.comonClass h2 {
  margin-top: 10px;
}

.comonClass p {
  width: 90%;
}

.comonClass .projectImg {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.comonClass .projectImg .cover {
  background: rgba(54, 36, 36, 0.308);
  padding-top: 40%;
}

.comonClass .projectImg .cover h3 {
  color: whitesmoke;
  opacity: 0;
}

.comonClass .projectImg .cover:hover {
  background: rgba(48, 31, 31, 0.459);
}

.comonClass .projectImg .cover:hover h3 {
  opacity: 1;
}

.comonClass h4 {
  margin-top: 5px;
}

.comonClass h4 .dark-text {
  color: #313131;
}

.comonClass h4 .dark-text a {
  text-decoration: none;
}

.comonClass h4 a:hover {
  color: #0d80b6;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(90vw, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(90vw, 1fr));
  grid-auto-rows: auto;
  list-style: none;
  text-align: center;
  margin-bottom: 15px;
}

.projects .shopimg {
  background-image: url(shoppapp.png);
}

.projects .quatroImg {
  background-image: url(quatrolife.png);
}

.projects .twitterImg {
  background-image: url(tw0tter.png);
}

.projects .pagesImg {
  background-image: url(pagination.png);
}

.projects .weabImg {
  background-image: url(weabo20.png);
}

@media screen and (min-width: 900px) {
  .projects {
    -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

.contact {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 10px;
  margin-bottom: 5px;
}

.contact li p {
  margin-left: 5px;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact ul {
    width: 600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.dark {
  background: whitesmoke;
  color: #313131;
  border-radius: 10px;
}

.dark-body {
  background: #313131;
  color: whitesmoke;
}

.darkLines {
  margin-top: 10px;
  border-bottom: 3px solid whitesmoke;
  border-top: 3px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.light-text {
  color: whitesmoke;
}
/*# sourceMappingURL=style.css.map */